.buttonPlaylist {
    display: block;
    font-size: 16px;
    color: rgb(109, 109, 109);
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.buttonPlaylist:hover {
    cursor: pointer;
    color: black;
}