.albumArtCover img {
    height: 130px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: black;
}

.albumArtCover img:hover {
    padding: 8px;
    cursor: pointer;
}

.albumArtCover {
    width: 100%;
}