.Card {
  width: 300px;
  margin: 37px 0 20px 40px;
}

.playLists {
  margin: 20px 20px 20px 40px;
  width: 300px;
}

.body {
  display: flex;
}

.CardMedia {
  width: 300px;
  height: 300px;
}

.CardMedia img {
  height: 100%;
}

.grow {
  flex-grow: 1;
}

.playLists button {
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin-bottom: 10px;
  font-size: .9em;
}

.text {
  font-size: 26px;
  font-weight: bold;
}

.allAlbums {
  margin: 0 0 0 40px;
}
